{% extends "base.html" %}
{% set active_page = "twoforms" %}

{% block title %}CSV Parser{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<main class="container" role="main">
    <h1 class="cap">Данные из файла {{ filename }}</h1>
    <H3>ДИАПАЗОН СТРОК: {{ row_start }}-{{ row_end }}</H3>
    <H3>ДИАПАЗОН СТРОК: {{ col_start }}-{{ col_end }}</H3>
    <H3>Минимум, максимум, шаг: {{ min }}-{{ max }}-{{ range }}</H3>
    <p>Информация о датасете:</p>
    <p>В наборе данных вы получите данные о различных магазинах компании-супермаркета в соответствии с их
        идентификаторами магазинов, которые для простоты были преобразованы в положительные целые числа.</p>
    <p>ID - Идентификационный номер магазина</p>
    <p>Store_Area - физическая площадь магазина в ядрах</p>
    <p>Items_Available - Количество различных предметов, доступных в соответствующем магазине.</p>
    <p>DailyCustomerCount - количество покупателей, посетивших магазины в среднем за месяц.</p>
    <p>Store_Sales - Продажи в (долларах США), произведенные магазинами.</p>

    <div style="overflow: scroll">
        {% for row in result %}
        <div class="row2">
            {% for column in row %}
            <div class="col">
                <p>{{ column }}</p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <H3>Минимальный, максимальный, средний объем доступных товаров, сгруппированный по площади магазина.</H3>
    {{items_available_grouped_by_store_area|safe}}
    <H3>Минимальный, максимальный, средний пассажиропоток, сгруппированный по площади магазина</H3>
    {{daily_customer_count_grouped_by_store_area|safe}}
    <H3>Минимальный, максимальный, средний объем выручки, сгруппированный по площади магазина.</H3>
    {{store_sales_grouped_by_store_area|safe}}
    <!--<H3>Дополнительно сколько человек в среднем тратит относительно площади магазина</H3>
    {{store_sales_for_person_grouped_by_store_area|safe}}
    {{dataframe5|safe}}-->
    <H3>Минимальный, максимальный, средний объем выручки, сгруппированный по пассажиропотоку.</H3>
    {{store_sales_grouped_by_daily_customer_count|safe}}

    <H3>Графики</H3>
    {{plot|safe}}

    <H3>Парная линейная регрессия</H3>
    <p>Черные точки - данные используемые для программирования парной линейной регрессии</p>
    <p>Красные точки - тестовые данные</p>
    {{plotx|safe}}
    <p>Оценка R^2 score данных использумых в модели: {{ traing_set }}</p>
    <p>Оценка R^2 score тестовых данных: {{ test_set }}</p>

    <p>Train</p>
    {{x_train|safe}}
    <p>Test</p>
    {{x_test|safe}}

    <H3>Информация о данных</H3>
    {{ result_info|safe }}
</main>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
